
body {
	height: 100%;
}

#main {
	text-align:center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#main-content{
	margin:auto;
	display: inline-block;
	text-align:left;
}

#canvas-holder{
	font-size:0;
	float:left;
	width:640px;
	border:1px solid black;
	padding: 0px;
	display: inline-block;
}

#form{
	/* text-align:center; */
	margin-left:641px;
	height: 450px;
	border: 1px solid black;
	padding: 5px;
	width: 200px;
}